<div class="row">
  <div class="col-md-4 about-left">
  	<section id='side_body'>
  		<%= link_to image_tag("logo.png", width: '100'), root_path -%>

			<h3 class="about-name">上海合気道秋风馆</h3>
			<!--导航 -->
			<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
			<p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>
		  <%=raw @page.content_for(:side_body) %>
		</section>
  </div>
  <div class="col-md-8 about-right">
  	<section id='main_body'>
		  <%=raw @page.content_for(:body) %>
		</section>
  </div>
</div>
