<div class="row">
  <div class="col-md-4 about-left">
  	<section id='side_body'>
  		<%= image_tag("logo.png", width: '100') %>

			<h5 class="about-name"><small>合気道上海秋风馆</small></h5>
			<h5 class="teacher"><small>指導者</small></h5>
			<h5 class="zbh">朱博海（三段）</h5>
			<!--导航 -->
			<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
			<p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>
		  <%=raw @page.content_for(:side_body) %>
		</section>
  </div>
  <div class="col-md-8 about-right">
  	<section id='main_body'>
		  <%=raw @page.content_for(:body) %>
		</section>
  </div>
</div>
